<launch>
  <arg name="port" default="11411" />
  <arg name="addr" default="192.168.1.72" />

  <!--node pkg="rosserial_server" type="socket_node" name="rosserial_server">
    <param name="port" value="$(arg port)" />
  </node-->

  <node pkg="rosserial_server" type="udp_socket_node" name="rosserial_server">
    <param name="client_port" value="$(arg port)" />
    <param name="client_addr" value="$(arg addr)" />
  </node>

  <!--node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" /-->

  <rosparam param="/BNO055Callibration">[0,0,0,-228,-1327,516,2,-3,-1,1000,992]</rosparam>

  <node pkg="tf" type="static_transform_publisher" name="tf_02" args="0 0 0.04 0 0 0 base_footprint base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_03" args="0.03 0.02 0.035 0 0 0 base_link imu_link 100"/>
  <!--node pkg="tf" type="static_transform_publisher" name="tf_04" args="0.08 0.01 0.04 0 0 0 /base_link /sonar_link 100"/-->
  <node pkg="tf" type="static_transform_publisher" name="tf_05" args="0.00 0.00 0.17 0 0 0 base_link laser_link 100"/>
  <!--node pkg="tf" type="static_transform_publisher" name="tf_06" args="0.02 0.0 0.08 0 0 0 /base_link /camera_link 100"/-->

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="joy" type="joy_node" name="joy_node" />

  <arg name="teleop_config" default="$(find roszumo)/config/joy_teleop.yaml" />
  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
  </node>

  <param name="robot_description" textfile="$(find roszumo)/urdf/roszumo.urdf" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" />

  <!--arg name="odom_frame"  default="/robot_pose_ekf/odom_combined"/-->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find roszumo)/params/ekf_template.yaml" />
  </node>

  <!--node pkg="rosbag" name="record" type="record" args="-O $(find roszumo)/data.bag /tf /scan /odom /odometry/filtered /imu_data"  /-->

  <!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
   <param name="output_frame" value="odom_ekf"/>
   <param name="freq" value="10.0"/>
   <param name="sensor_timeout" value="1.0"/>
   <param name="odom_used" value="true"/>
   <param name="imu_used" value="true"/>
   <param name="vo_used" value="false"/>
   <param name="debug" value="true"/>
   <param name="self_diagnose" value="true"/>
 </node-->

  <arg name="scan_topic" default="scan" />
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
       <param name="base_frame" value="$(arg base_frame)"/>
       <param name="odom_frame" value="$(arg odom_frame)"/>
       <param name="map_update_interval" value="1.0"/>
       <param name="maxUrange" value="2.0"/>
       <param name="minRange" value="0.1"/>
       <param name="sigma" value="0.05"/>
       <param name="kernelSize" value="1"/>
       <param name="lstep" value="0.05"/>
       <param name="astep" value="0.05"/>
       <param name="iterations" value="5"/>
       <param name="lsigma" value="0.075"/>
       <param name="ogain" value="3.0"/>
       <param name="lskip" value="0"/>
       <param name="minimumScore" value="100"/>
       <param name="srr" value="0.01"/>
       <param name="srt" value="0.02"/>
       <param name="str" value="0.01"/>
       <param name="stt" value="0.02"/>
       <param name="linearUpdate" value="0.7"/>
       <param name="angularUpdate" value="0.7"/>
       <param name="temporalUpdate" value="-0.5"/>
       <param name="resampleThreshold" value="0.5"/>
       <param name="particles" value="10"/>
       <param name="xmin" value="-50.0"/>
       <param name="ymin" value="-50.0"/>
       <param name="xmax" value="50.0"/>
       <param name="ymax" value="50.0"/>
       <param name="delta" value="0.05"/>
       <param name="llsamplerange" value="0.05"/>
       <param name="llsamplestep" value="0.05"/>
       <param name="lasamplerange" value="0.005"/>
       <param name="lasamplestep" value="0.005"/>
       <param name="transform_publish_period" value="0.01"/>
       <remap from="scan" to="$(arg scan_topic)"/>
  </node>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="controller_frequency" value="50"/>
  <param name="clearing_rotation_allowed" value="false"/>
  <rosparam file="$(find roszumo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find roszumo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find roszumo)/config/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find roszumo)/config/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find roszumo)/config/base_local_planner_params.yaml" command="load" />
  <remap from="/odom" to="/odometry/filtered"/>
</node>

</launch>
